extends rlayout

block content
  header.jumbotron1.bg-inverse.text-xs-center.center-vertically(role='banner')
    .container.cWhite
      h1 Кабинет
      p
        | На Вашем счете: 
        span #{user.money} UAH
      p
        | Введено: 
        span 0
      p
        | На депозитах: 
        span 0
      p
        | Начислено: 
        span 0
      p
        | Выведено: 
        span 0
