extends rlayout

block content
  header.jumbotron1.bg-inverse.text-xs-center.center-vertically(role='banner')
    .container.cWhite
      h1 Пополнить
      p
        | Сумма:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        input#inputText(onchange="Change()", name="ourfield", type='text', placeholder='', autocomplete='off')
      p
        | Комиссия: 
        span(name="comission") 0
      p
        | К оплате:
        span(name="balans") 0
      form#payment(style="align: center;", name='payment', method='post', action='https://sci.interkassa.com/', enctype='utf-8')
          input(type='hidden', name='ik_co_id', value='587d41b33c1eaf0b318b456f')
          input(type='hidden', name='ik_pm_no', value='ID_4233')
          input(type='hidden', name='ik_am', value='100.00')
          input(type='hidden', name='ik_cur', value='UAH')
          input(type='hidden', name='ik_desc', value='тест')
          input(type='submit', name='oppa', style='display:none;', value='Пополнить')
