extends rlayout

block content
  header.jumbotron1.bg-inverse.text-xs-center.center-vertically(role='banner')
    .container.cWhite
      h1 Вклады
        a.dropdown-item.text-uppercase(href='#') 1вариант
        a.dropdown-item.text-uppercase(href='#') 2вариант
        a.dropdown-item.text-uppercase(href='#') 3вариант
        a.dropdown-item.text-uppercase(href='#') 4вариант
